/* ArithmeticGame.css */
.game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    text-align: center;
}

.game-area {
    flex: 1;
    background-color: #2f4f7f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-area .time-left p {
    font-size: 2em;
    margin: 20px 0;
}

.game-area button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #15001a;
    color: #fbfbf4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.game-area button:hover {
    background-color: #323032;
}

.equation-display {
    color: #15001a; /* Change this to your preferred color */
}

.score-display {
    color: #15001a; /* Change this to your preferred color */
}

.lower-section {
    display: flex;
    flex: 1;
}

.left-section,
.right-section {
    flex: 1;
    background-color: #f5e3d6;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #15001a;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
