/* StroopTestGame.css */

.game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.game-area {
    flex: 1;
    background-color: #fbfbf4 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 1.5em;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-left: 5%;
    margin-right: 5%;
}

.game-area:hover {
    background-color: #f5e3d6 !important;
}

.game-area h2 {
    margin: 0;
    font-size: 2em;
    color: #15001a;
}

.game-area p {
    margin: 20px 0;
    font-size: 2em;
}


.color-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.color-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.color-button:hover {
    transform: scale(1.1);
}

.message {
    margin-top: 20px;
    font-size: 1.5em;
    color: #15001a;
}

.lower-section {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: 20px;
}

.left-section {
    flex: 1;
    background-color: #fbfbf4 !important;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #15001a !important;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 5% !important;
}

.right-section {
    flex: 1;
    background-color: #fbfbf4 !important;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #15001a !important;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 5% !important;
}

.left-section p {
    margin: 0;
    font: 1.5em sans-serif;
    text-align: left;
}

.right-section p {
    margin: 0;
    font: 1.5em sans-serif;
    text-align: left;
}
