/*
#fbfbf4         white
#f5e3d6         cream
#a5cbd9         light blue
#15001a         dark purple
*/

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.top-container {
    background-color: #f5e3d6;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-container h2 {
    margin: 10px 0;
    color: #15001a;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.action-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #15001a;
    color: #fbfbf4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #323032;
}

.stats-container {
    background-color: #fbfbf4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stats-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #a5cbd9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #15001a;
}

.stats-item {
    flex: 1;
    text-align: center;
    margin: 0 10px;
    font-weight: bold;
}
