.gamesDB .reaction-time-dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.gamesDB .top-container {
    background-color: #f5e3d6; /* Adjust color as needed */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 60%; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gamesDB .top-container h2, .top-container h3 {
    margin: 10px 0;
    color: #15001a; /* Adjust color as needed */
}

.gamesDB .button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.gamesDB .action-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #15001a;
    color: #fbfbf4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gamesDB .action-button:hover {
    background-color: #323032;
}

.gamesDB .stats-container {
    background-color: #fbfbf4; /* Adjust color as needed */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 60%; /* Adjust width as needed */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.gamesDB .stats-item {
    margin: 10px 0;
    font-weight: bold;
    color: #15001a; /* Adjust color as needed */
    flex: 1;
    text-align: center;
}

.gamesDB .history-container {
    background-color: #fbfbf4; /* Adjust color as needed */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 60%; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gamesDB .history-container h3 {
    color: #15001a; /* Adjust color as needed */
    margin-bottom: 20px;
}

.gamesDB .history-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #a5cbd9; /* Adjust color as needed */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gamesDB .history-item {
    flex: 1;
    text-align: center;
    margin: 0 10px;
    color: #15001a; /* Adjust color as needed */
}
